body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-inter: Inter;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* border radiuses */
  --br-xl: 20px;
  --br-26xl: 45px;
}
